
Config { font = "xft:Roboto:size=12:bold"
       , border = NoBorder
       , alpha = 0
       , position = Static { xpos = 1912, ypos = 37, width = 16, height = 1043}
       , lowerOnStart = True
       , allDesktops  = True
       , wmName = "xmobar_transparent"
       , commands = []
       , template = ""
       }
